#top {
text-align: right;
font-family: 'Times New Roman', Times, serif;
font-weight:normal;
word-spacing: 10px;
}

.btn {
 word-spacing: 2px;
 border: 1px solid #4285f4;
 font-weight: bold;
 outline: none; 
 background: #4683ea;
 color: white;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 6px;
 padding-bottom: 6px;
 margin-right: 20px;

}